@font-face {
    font-family: "Anenir Next";
    src: url(../assests/Font/AvenirNextLTPro-Bold.otf),
    url(../assests/Font/Alternative-files/AvenirNextLTProBold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Anenir Next";
    src: url(../assests/Font/AvenirNextLTPro-Regular.otf),
    url(../assests/Font/Alternative-files/AvenirNextLTPro.ttf);
    font-style: normal;
    font-weight: normal;
}