@use '../../partials/global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.new-comments{
    padding-left: 16px;

    &__total{
        font-family: $font-family;
        font-weight: bold;
        padding-left: 16px;
    }
    &__title {
        font-family: $font-family;
        text-transform: uppercase;
        color: $silver;
        font-weight: normal;
        font-size: pxToRem(12);
        padding-left: 96px;
    }
    &__section{
        display: flex;
        justify-content: space-evenly;
    }
    &__img{
        border-radius: 50%;
        height: pxToRem(36);
        width: pxToRem(36);
    }
    &__textarea{
        resize: none;
        color: $brainFlix-black;
        border-radius: 4px;
        height: pxToRem(100);
        width: 11rem;
        padding: 16px;
    }
    &__btn{
        padding: 16px 0;
        &--style{
        text-transform: uppercase; 
        border-radius: 4px; 
        color: $white;
        background-color: $brainFlix-blue;
        width: 100%;
        &:hover{
            background-color: $brainFlix-darkBlue;
        }
        }
    }
}
