@use "../../partials/global" as *;
@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/variables" as *;

.header {
  @include tablet {
    display: flex;
    padding-top: 32px;
    position: relative;
  }
  @include desktop {
    padding-left: 80px;
    padding-bottom: 16px;
  }
  &__img {
    padding: 16px 80px;
    height: 64px;
    @include tablet {
      padding: 16px 32px;
    }
  }
  &__search {
    display: flex;
    justify-content: space-evenly;
  }
  &__form {
    padding-left: 16px;
    @include tablet {
      display: flex;
    }
    @include desktop {
      padding-left: 268px;
      width: 800px;
    }
    &--search {
      padding: 16px;
      border-radius: 4px;
      background-color: $albster;
      @include tablet {
        height: 52px;
      }
    }
  }
  &__hero img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    @include tablet {
      position: relative;
      left: 62px;
    }
  }
  &__btn {
    width: 100%;
    font-family: $font-family;
    &--style {
      display: block;
      padding: 16px;
      margin: 16px 0;
      text-transform: uppercase;
      border-radius: 4px;
      color: $white;
      background-color: $brainFlix-blue;
      width: 123%;
      text-align: center;
      text-decoration: none;
      &:hover {
        background-color: $brainFlix-darkBlue;
      }
    }
    @include tablet {
      margin: 0% 16px;
      height: pxToRem(52);
    }
    @include desktop {
      width: 90%;
    }
  }
}
