@use '../../partials/global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.current-video{
    @include tablet{
        background-color: $brainFlix-darkBlack;
    }
    
    &__main{
        @include tablet{
        width: 90vw;
        margin: 0 auto;
        padding-left: 72px;
    }
    @include desktop{
        padding-left: pxToRem(150);
    }
    }
}