@use '../../partials/global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.side-bar{
    border-top: 1px solid $silver;
    margin-left: 32px;
    @include tablet{
        padding-left: 8px;
    }  
    @include desktop{
        border: hidden;
        position: relative;
        top: -980px;
        left: 896px;
        border-left: 1px solid $silver;
    }


    &__videos{
        font-family: $font-family;
        text-transform: uppercase;
        color: $silver;
        font-weight: normal;
        @include desktop{
            padding: 32px 16px 0 16px;
        }
    }
    &__container{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @include tablet{
            padding-top: 24px;
        }
        @include desktop{
            padding: 16px 0 16px 16px;
        }
    }
    &__img{
        height: 25vw;
        width: 40vw;
        border-radius: 4px;
        @include tablet{
            height: 14vw;
            width: 25vw;
        }
        @include desktop{
            height: 7vw;
            width: 10vw;
        }
    }
    &__title{
        font-family: $font-family;
        color: $brainFlix-black;
        padding:0 16px;
        font-size: pxToRem(13);
        width: 50%;
        @include tablet{
            font-size: pxToRem(14);
            width: 30%;
        }
        @include desktop {
            width: 15%;
        }
    }
    &__artist{
        font-family: $font-family;
        font-weight: normal;
        position: relative;
        left: 144px;
        top: -34px;
        @include tablet{
            left: -200px;
            top: 60px;
    }
        @include desktop {
            left: -170px;
            top: 44px;
        }
    }
    
}