// @use '../../partials/global' as *;
@use '../../partials/mixins' as *;
// @use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.side-bar{
    border-left: 1px solid $mercury;
    @include tablet{
        padding-left: 8px;
    }  
    @include desktop{
        padding-right: 100px;
    }
    
    &__videos{
        font-family: $font-family;
        text-transform: uppercase;
        color: $silver;
        font-weight: normal;
        @include desktop{
            padding: 32px 16px 0 16px;
        }
    }
    &__container{
        display: flex;
        position: relative;
        padding-bottom: 16px;
        @include tablet{
            padding-top: 24px;
        }
        @include desktop{
            width: 270px;
        }
    }
    &__img{
        height: 84px;
        width: 40vw;
        border-radius: 4px;
        object-fit: cover;
        @include tablet{
            height: 14vw;
            width: 25vw;
        }
        @include desktop{
            height: 7vw;
            width: 10vw;
        }
    }
    &__title{
        font-family: $font-family;
        color: $brainFlix-black;
        padding:0 16px;
        font-size: pxToRem(13);
        width: 50%;
        @include tablet{
            font-size: pxToRem(14);
            width: 30%;
        }
        @include desktop {
            height: 20px;
        }
    }
    &__artist{
        font-family: $font-family;
        font-weight: normal;
        color: $brainFlix-black;
        position: absolute;
        top: 50px;
        left: 140px;
        @include tablet{
            position: absolute;
            left: 205px;
            top: 98px;
    }
        @include desktop {
            position: absolute;
            left: 142px;
            top: 90px;
        }
    }
    &__link{
        text-decoration: none;
    }
}