@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.header {
  border-bottom: 1px solid $mercury;
  @include tablet {
    display: flex;
    padding-top: 32px;
    position: relative;
  }
  @include desktop {
    padding-left: 80px;
    padding-bottom: 16px;
  }
  &__img {
    padding: 16px 80px;
    height: 64px;
    @include tablet {
      padding: 16px 32px;
    }
  }
  &__search {
    display: flex;
    justify-content: space-evenly;
  }
  &__form {
    padding-left: 16px;
    @include tablet {
      display: flex;
    }
    @include desktop {
      padding-left: 268px;
      width: 800px;
    }
    &--search {
      padding: 16px;
      border-radius: 4px;
      background-color: $albster;
      @include tablet {
        height: 52px;
      }
    }
  }
  &__hero img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    @include tablet {
      position: relative;
      left: 62px;
    }
  }
  &__btn {
    width: 100%;
    &--style {
      display: block;
      padding: 16px;
      margin: 16px 0;
      text-transform: uppercase;
      border-radius: 4px;
      color: $white;
      background-color: $brainFlix-blue;
      width: 123%;
      &:hover {
        background-color: $brainFlix-darkBlue;
      }
    }
    @include tablet {
      margin: 0% 16px;
      height: pxToRem(52);
    }
    @include desktop {
      width: 90%;
    }
  }
}

.upload {
  font-family: $font-family;

  &__title {
    padding: 24px 16px 8px;
    @include tablet {
      padding-left: 0;
      font-size: pxToRem(33);
      border-bottom: 1px solid $mercury;
      margin: 0 32px;
      padding-bottom: 16px;
    }
  }
  &__thumbnail {
    padding-left: 16px;
    text-transform: uppercase;
    color: $silver;
    font-weight: normal;
    font-size: pxToRem(13);
    @include tablet {
      padding-left: 32px;
      font-size: pxToRem(14);
    }
  }

  &__img {
    padding: 0 16px;
    @include tablet {
      width: 50vw;
      margin: 0 auto;
      padding-left: 32px;
    }
  }
  &__form {
    padding-left: 32px;
    &--title {
      width: 99%;
      padding: 16px;
      resize: none;
      border-radius: 4px;
      @include tablet {
        height: 52px;
        padding: 16px;
        background-color: $albster;
      }
    }
  }
  &__textarea {
    width: 99%;
    padding: 16px;
    resize: none;
    border-radius: 4px;
    @include tablet {
      height: 120px;
      padding: 16px;
      background-color: $albster;
    }
  }
  &__video,
  &__description {
    text-transform: uppercase;
    font-weight: normal;
    color: $silver;
    font-size: pxToRem(13);
    padding-bottom: 0;
  }
  &__container {
    padding-bottom: 16px;
    margin-right: 16px;
    &--bottom{
      @include tablet{
        border-bottom: 1px solid $mercury;
      }
    }
  }
  &__btn {
    width: 81%;
    @include tablet {
      display: none;
    }
    &--style {
      display: block;
      padding: 16px;
      margin: 16px 0;
      text-transform: uppercase;
      border-radius: 4px;
      color: $white;
      background-color: $brainFlix-blue;
      width: 123%;
      &:hover {
        background-color: $brainFlix-darkBlue;
      }
    }
  }
  &__cancelBtn {
    width: 81%;
    @include tablet {
      display: none;
    }
    &--style {
      display: block;
      padding: 16px;
      margin: 16px 0;
      text-transform: uppercase;
      border-radius: 4px;
      color: $brainFlix-blue;
      background-color: $white;
      width: 123%;
      border: none;
    }
  }
}
