// @use '../../partials/mixins' as *;
// @use '../../partials/typography' as *;
// @use '../../partials/variables' as *;


*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
img {
    max-width: 100%;
}
video {
    max-width: 100%;
}