@use '../../partials/global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.comments{
    padding:0 32px;
    @include tablet {
        padding: 32px 32px;
    }
    @include desktop{
        padding-left: 88px;
       
    }
    
}
